#explicit binary content (reduced diff).

*.exe          binary
*.ico          binary
*.pdb          binary
*.snk          binary

README.md              eol=crlf
LICENSE        text    eol=crlf

*.sln          text    eol=crlf
*.ini          text    eol=crlf
*.txt          text    eol=crlf
*.cs           text    eol=crlf
*.manifest     text    eol=crlf
*.sdsettings   text    eol=crlf
*.Settings     text    eol=crlf
*.csproject    text    eol=crlf
*.csproj       text    eol=crlf
*.config       text    eol=crlf